{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<h1>Sell</h1>
    <form action="/sell" method="post">
        <div class="mb-3" align="center">
            <select name="symbol" class="form-select" style="width:auto">
                <option selected>Select stock...</option>
                {% for symbol in symbols %}
                    <option value="{{ symbol }}">{{ symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-outline mb-4">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Number of shares" type="number" min="1">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
